.body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #ededed;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page {
    display: flex;
    flex-flow: row;
    min-height: 100%;
    max-height: 100%;
    flex: 1;
    background-color: #A4A6A5;
}

.menu-btn {
    margin: 0.25em;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
    height: 2.75em;
    visibility: visible;
    width: 7em;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.75em;
}

.box {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: lightgray;
    margin: 1em;
}

.side-panel {
    min-height: 100%;
    max-height: 100%;
    min-width: 30em;
    max-width: 30em;
    padding: 0.5em;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
}

.pure-button:hover {
    background-color: #d6d6d6;
}

.pure-button:hover, .pure-button:focus, .pure-button, .pure-button:active {
    background-image: none;
    color: black;
    border: solid 1px gray;
    border-radius: 5px;
    box-shadow: none;
}

.pure-button:active {
    background-color: #c9c9c9;
}

.x {
    font-weight: bold;
    color: rgb(187, 12, 12);
    cursor: pointer;
    pointer-events: all;
    display: block;
}

.x:hover {
    color: #630404;
}

.x:active {
    color: #1f0000;
}

.file:hover {
    cursor: pointer;
}