.box {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: lightgray;
    margin: 1em;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
}

.pure-button:hover {
    background-color: #d6d6d6;
}

.pure-button:hover, .pure-button:focus, .pure-button, .pure-button:active {
    background-image: none;
    color: black;
    border: solid 1px gray;
    border-radius: 5px;
    box-shadow: none;
}

.pure-button:active {
    border-width: 2px;
}